body {
    background-color: #90C7E3;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #002171;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1em;
}

h1 {
    text-align: center;
    font-size: 1.5em;
}

nav {
    font-size: 1.2em;
    z-index: 9999;
    background-color: #FFFFFF;
    text-align: center;
}

h2 {
    color: #1976D2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

dt {
    color: #002171;
    font-weight: bold;
}

.resort {
    color: #1976D2;
    font-size: 1.2em;
}

footer {
    font-size: .7em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    background-color: #FFFFFF;
}

#wrapper {
    width: 80%;
    background-color: #FFFFFF;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    padding-left: 2em;
    padding-right: 2em;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
}

#homehero {
    height: 300px;
    background-image: url('coast.jpg');
    background-size: 200% 100%;
    background-repeat: no-repeat;
}

#yurthero {
    height: 300px;
    background-image: url('yurt.jpg');
    background-size: 200% 100%;
    background-repeat: no-repeat;
}

#trailhero {
    height: 300px;
    background-image: url('trail.jpg');
    background-size: 200% 100%;
    background-repeat: no-repeat;
}

nav a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

nav a:link {
    color: #5C7FA3
}

nav a:visited {
    color: #344873
}

nav a:hover {
    color: #A52A2a
}

nav ul {
    list-style-type: none;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
}

section {
    padding-left: .5em;
    padding-right: .5em;
}

header a {
    text-decoration: none;
}

header a:link {
    color: #FFFFFF;
}

header a:visited {
    color: #FFFFFF;
}

header a:hover {
    color: #90C7E3;
}

nav li {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

#mobile {
    display: inline;
}

#desktop {
    display: none;
}

@media (min-width: 600px) {
    h1 {
        font-size: 2em;
        letter-spacing: .25em;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding-right: 2em;
    }

    nav li {
        width: 12em;
        border-bottom: none;
    }

    section {
        padding-left: 2em;
        padding-right: 2em;
    }

    #flow {
        display: flex;
        flex-direction: row;   
    }

    #mobile {
        display: none;
    }

    #desktop {
        display: inline;
    }

    #homehero {
        background-size: 100% 100%;
    }

    #yurthero {
        background-size: 100% 100%;
    }

    #trailhero {
        background-size: 100% 100%;
    }

}

@media (min-width: 1024px) {
    body {
        background: linear-gradient(to bottom, #FFFFFF 20%, #90C7E3 60%, #FFFFFF 100%);
    }

    nav ul {
        padding-right: 10%;
        padding-left: 10%;
    }

    #wrapper {
        width: 80%;
        margin: auto;
    }
}